.movies-card__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

@media screen and (min-width: 768px) {
    .movies-card__block {
        height: 45px;
    }
}
