.portfolio__link {
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__link {
    font-size: 30px;
  }
}