.about-me__student {
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .about-me__student {
    font-size: 18px;
    line-height: 22px;
  }
}


