.search-form__short-films {
    display: flex;
    align-items: center;
    margin: 33px auto 0px;
}

@media screen and (max-width: 768px) {
    .search-form__short-films {
        margin: 30px auto 131px;
        flex-direction: row-reverse;
    }
  }

  
@media screen and (max-width: 320px) {
    .search-form__short-films {
        margin: 41px auto 91px;
        justify-content: center;
    }
  }