.nav-tab__item {
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    margin-right: 24px;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;


}

@media screen and (min-width: 768px) {
    .nav-tab__item {
        font-size: 13px;
        margin-right: 40px;
    }
}