.techs__grid {
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9%;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .techs__grid{
        grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
        margin-top: 83px;
    }
}


@media screen and (max-width: 320px) {
    .techs__grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 50px auto 70px;
        gap: 10px;
        width: 60%;
    }
}