.about-me__line {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 1);
    margin-top: 23px;
}

@media screen and (max-width: 320px) {
    .about-me__line {
        margin-top: 28px;
    }
  }
  
