.about-me__container {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .about-me__container {
        margin-top: 60px;
        flex-direction: column-reverse;
    }
  }
  
