.profile-form {
    width: 100%;
    height: 100%;
    margin-top: 74px;
    background-color: white;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    .profile-form {
        margin: 236px auto 269px;
    }
}

@media screen and (max-width: 320px) {
    .profile-form {
        margin: 70px auto 40px;
    }
}