.profile-form__rename {
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter', serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 220px auto 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile-form__rename:disabled {
    color: rgba(0, 0, 0, .5);
}


@media screen and (max-width: 768px) {
    .profile-form__rename {
        margin-top: 210px;
    }
}