.promo__container {
    display: flex;
    max-width: calc(1280px - 140px);
    height: 524px;
    position: relative;
    margin: 0 auto 0;
}


@media screen and (max-width: 768px) {
    .promo__container {
        max-width: calc(100% - 60px);
        height: 784px;
    }
}

@media screen and (max-width: 320px) {
    .promo__container {
        max-width: calc(100% - 20px);
        height: 570px;
    }
}
